@model Dabbawala.Models.SolicitacaoTransporteResponse.InformacoesItemsDTO
<table class="tab-content">
    <tr>
        <td width="120px">
            <div class="form-group">
                <label asp-for="Produto" class="control-label"></label>
                <input asp-for="Produto" class="form-control" />
                <span asp-validation-for="Produto" class="text-danger"></span>
            </div>
        </td>
        <td width="20px">&nbsp;</td>
        <td width="40px">
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
        </td>
        <td width="20px">&nbsp;</td>
        <td width="40px">
            <div class="form-group">
                <label asp-for="Unidade" class="control-label"></label>
                <input asp-for="Unidade" class="form-control" />
                <span asp-validation-for="Unidade" class="text-danger"></span>
            </div>
        </td>
    </tr>
</table>

